/*****************************************************
	normalize CSS
 *****************************************************/
body,ul,li,h1,h2,h3,h4,h5,h6,a,img{
	margin:0;
	padding:0;
	font-weight:normal;
	font-family:'Microsoft YaHei',sans-serif;
}
h1{
	font-size:28px;
	line-height:35px;
}
h2{
	font-size:22px;
	line-height:30px;
}
ul,li{
	list-style:none;
}
a{
	display:block;
	text-decoration:none;
}
/*****************************************************
	main CSS
 *****************************************************/
#container{
	width:1080px;
	margin:0 auto;
}
#container h1{
	margin:10px 0;
	color:#C81623;
}
#container li{
	float:left;
}
.clearfix:after{
	content:".";
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
	visibility:hidden;
}
.clearfix{
	zoom:1;
}
#container h2{
	text-indent:10px;
	margin-top:10px;
	border-bottom:2px solid #C81623;
}
#container a,#container img{
	width:350px;
	height:350px;
}
#container a{
	margin:5px;
}
#nav{
	position:fixed;
	top:100px;
	left:50%;
	margin-left:550px;
}
#nav li{
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	border-top:1px dotted #625351;
}
#nav li:first-child{
	border-style:hidden;
}
#nav li a{
	font-size:16px;
	color:#625351;
}
#nav li .ahov{
	display:none;
	font-size:12px;
	color:#FFF;
	background:#C81623;
}
#nav li:hover a{
	display:none;
}
#nav li:hover .ahov{
	display:block;
}
#nav .current a{
	display:none;
}
#nav .current .ahov{
	display:block;
	color:#C81623;
	background:#FFF;
}
#nav .current .ahov:hover{
	color:#FFF;
	background:#C81623;
}
/*****************************************************
	IE6 hack
 *****************************************************/
*html #nav{
	position:absolute;
	top:expression(((s=document.documentElement.scrollTop)? s : document.body.scrollTop) + 100 + 'px');
}
/* 解决上方hack导致的IE6下定位导航条闪烁问题 */
*html,*html body{
	background-image:url(about:black);
	background-attachment:fixed;
}
